/*=== GLOBAL SETTING ===*/

html {
    position: relative;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    background-color: #fcfcfc;
    color: #333;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.container, .container-fluid {
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}

/*=== NAVBAR SECTION ===*/

.navbar {
    background-color: #1f2937 !important; 
    padding: 10px 60px; 
}

.navbar-brand {
    font-size: 1.3rem;
    color: white !important;
    font-weight: 800;
}

.navbar-nav .nav-link {
    color: #fffc !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem; 
    transition: 0.3s;
    padding: 0 20px;
}

    .navbar-nav .nav-link:hover {
        color: #258cfb !important; 
    }

    .navbar-nav .nav-link.active {
        color: white !important;
        font-weight: 600;
    }

/*=== FOOTER SECTION ===*/
footer {
    background-color: #1f2937;
    color: white;
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
    padding: 25px;
    bottom:0;
}

/*=== HEADER SECTION ===*/
.header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 90px;
    width: 100%;
    box-sizing: border-box;
}

    .header h1 {
        font-family: 'Cinzel', serif;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 0 0 1rem 0;
    }

.header-img {
    height: auto;
    width: 450px;
}

/*=== CHARACTER SECTION ===*/
.char-container {
    background-color: white;
    padding: 30px 50px;
}

.char-section {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
}

.card {
    width: 15rem;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #ddd;
    transition: transform 0.2s;
}

    .card:hover {
        transform: translateY(-5px);
    }

h2 {
    display: block;
    font-family: 'Cinzel', serif;
    font-size: 2.5rem;
    font-weight: 600;
    text-align:center;
}

.char-card-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: top;
}

.card-body {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    flex-grow: 1; 
}

.card-title {
    font-family: 'Cinzel', serif;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.card-text {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.4;
}

/*=== BUTTON ===*/
.btn-profile {
    margin-top: auto; 
    width: 100%;
    padding: 8px;
    border: 1px solid #007bff;
    color: #007bff;
    background: transparent;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    transition: 0.3s;
}

    .btn-profile:hover {
        background-color: #0d6efd;
        color: white;
    }

/*=== FORM SECTION ===*/
.form-container {
    background-color: #e5e7eb;
    padding: 30px 50px;
}

.form-card{
    background: white;
    width: 600px;
    padding: 15px 20px;
    margin: 30px;
    border-radius: 15px;
}

.form-list-container {
    background-color: whitesmoke;
    height: 100%;
    text-align: center;
    padding-bottom: 30px;
}

.form-list-header{
    padding: 20px;
}

.table-card {
    background: white;
    width: 900px;
    padding: 15px 20px;
    margin: 30px;
    border-radius: 15px;
    margin:auto;
}
